body {
    background-color: #FC80A5;
    margin: 0px;
    font-family: Courier New, Serifs;
    font-size: 20px;
}

header {
    background-color: #C9A0DC;
    margin: 10px;
    height: 90px;
    border-radius: 5px;
}

nav {
    background-color: #76D7EA;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
}

main {
    background-color: #C9A0DC;
    margin-left: 10px;
    margin-right: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 110%
}

aside {
    background-color: #009DC4;
    margin-left:10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 20px;
    font-size: 105%;
    float: right;
    width: 260px;
    clear: right;
}

footer {
    background-color: #009DC4;
    margin: 10px;
    height: 60px;
    font-size: 15px;
    border-radius: 5px;
    clear: right;
}


h1 {
    font-size: 120%;
    color: red;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-size: 120%;
    color: green;
}
